* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: rgb(123, 182, 250);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    gap: 40px
}

.marca {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 150px;
}

.marca img {
    height: 100px;
}

.marca h1 {
    font-size: 55px;
    font-weight: bold;
    font-family: Cinzel Decorative;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
    align-items: center;
}

.menu a.login-link {
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
}

.menu a.login-link img.login {
    width: 75px; 
    height: auto;

}

.menu input {
    color: azure;
    width: 400px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: white 2px solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    height: 30px;
    align-items: center;
    outline: none;
}

.menu input::placeholder {
    color: white;
    display: inline-block;
    transition: all 0.5s ease;
}


.menu a.menu-link {
    width: 100px;
    height: 36px;
    color: white;
    text-decoration: none;
    font-size: 19px;
    transition: background-color, color 0.7s;
    background-color: #043c61;
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10PX;
    transition: transform 0.4s ease;
}


.menu a.menu-link:hover {
    background-color: white;
    color: #000000;
    transform: scale(1.1);
}

main {
    background: url("/assets/images/loginpage.png");
    flex: 1;
    padding: 48px 20px;
    width: 100%;
}

.about {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(123, 182, 250);
    width: 90%;
    max-width: 900px;
    padding: 5px 20px 40px 20px;
    border-radius: 12px;
    border: #043c61 solid 3px;
}


#titulo-sobre-mim {
    font-size: 2rem;
    border-bottom: 2px solid #043c61;
    margin-bottom: 20px;
    padding-bottom: 8px;
}



hobbies,
contact {
    display: block;
    background-color: rgb(123, 182, 250);
    width: 90%;
    max-width: 900px;
    margin: 0 auto 40px auto;
    padding: 40px 20px;
    border-radius: 12px;
    border: #043c61 solid 3px;
}

.imagem-eu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    font-family: Cinzel Decorative;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.imagem-eu img {
    content: url("/assets/images/gustavo2.jpg");
    border: #043c61 solid 3px;
    height: 350px;
    border-radius: 12px;
}

#titulo-meus-hobbies {
    font-size: 2rem;
    border-bottom: 2px solid #043c61;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.texto-sobre-mim {
    font-size: 1rem;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

li {
    background-color: rgb(106, 173, 250);
    padding: 12px;
    border-left: 4px solid #043c61;
    font-size: 16px;
    min-width: 200px;
    border-radius: 12px;
    text-align: center;
}

li:hover {
    background-color: #043c61;
    color: white;
    transform: translateX(5px);
    transition: all 0.5s ease;
}

contact h2 {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid #043c61;
}

contact p {
    text-align: center;
    font-size: 18px;
}

contact a {
    color: rgb(43, 129, 228);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: 2px solid rgb(43, 129, 228);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.5s ease;
}

contact a:hover {
    background-color: #043c61;
    color: white;
    transform: translateY(-2px);
    border: #043c61;
}