* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/assets/images/loginpage.png");
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    min-height: 100vh;
}

header {
    background-color: rgb(123, 182, 250);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    gap: 40px
}

.marca {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 150px;
}

.marca img {
    height: 100px;
}

.marca h1 {
    font-size: 55px;
    font-weight: bold;
    font-family: Cinzel Decorative;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
    align-items: center;
}

.menu a.login-link {
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
}

.menu a.login-link img.login {
    width: 75px;
    height: auto;

}

.menu input {
    color: azure;
    width: 400px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: white 2px solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    height: 30px;
    align-items: center;
    outline: none;
}

.menu input::placeholder {
    color: white;
    display: inline-block;
    transition: all 0.5s ease;
}


.menu a.menu-link {
    width: 100px;
    height: 36px;
    color: white;
    text-decoration: none;
    font-size: 19px;
    transition: background-color, color 0.7s;
    background-color: #043c61;
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10PX;
    transition: transform 0.4s ease;
}


.menu a.menu-link:hover {
    background-color: white;
    color: #000000;
    transform: scale(1.1);
}

main {
    background: url("/assets/images/loginpage.png");
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.cima {
    background: url("/assets/images/loginpage.png");
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
}

.sobre {
    width: 550px;
    text-align: center;
    background-color: rgb(123, 182, 250);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.sobre-container {
    width: 600px;
    background-color: rgb(123, 182, 250);
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    border-radius: 25px;
    margin-right: 100px;
    margin-top: 50px;
    flex-direction: column;
    gap: 35px;
    border: 3px #043c61 solid;
}

.titulo-sobre {
    font-family: Cinzel Decorative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10;
    gap: 30px;
}


.valores {
    width: 600px;
    height: 220px;
    background-color: rgb(123, 182, 250);
    margin-top: 30px;
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    border-radius: 25px;
    gap: 10px;
    font-family: Cinzel Decorative;
}

.valores>div:not(.valores-frase) {
    min-width: 220px;
    max-height: 220px;
    background-color: rgb(123, 182, 250);
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #023558;
    gap: 30px;
    border-radius: 25px;
}

.valores div p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: black;
    font-size: 20px;
}

.valores-frase {
    min-width: 580px;
    max-width: 550px;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #023558;
    border-radius: 25px;
    gap: 30px;
    margin-right: 30px;
}

.valores img {
    width: 80px;
}

.valores-frase img:hover {
    animation: girar 0.8s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.valores::-webkit-scrollbar {
    height: 5px;
    width: 2px;
}

.valores::-webkit-scrollbar-thumb {
    background: #023558;
    border-radius: 10px;

}

.valores::-webkit-scrollbar-thumb:hover {
    background: #035b8c;
}

.integrantes {
    padding-top: 0px;
    width: 850px;
    height: 647px;
    background-color: rgb(123, 182, 250);
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 25px;
    border: #023558 solid 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.integrantes img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 4px solid #023558;
}

.integrantes img:hover {
    border: none;
    content: url("/assets/images/saiba\ mais.png");
    transform: scale(1.05) rotate(2deg);
}

.integrantes .murilo img:hover {
    animation: girar 0.8s linear infinite;
}

.titulo-integrantes {
    font-size: 22px;
    font-family: Cinzel Decorative;
}

.integrantes p {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin-bottom: 17px;
}

.tres-esquerda {
    display: flex;
    gap: 75px;
}

.tres-direita {
    display: flex;
    gap: 75px;
}

.baixo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.baixo .livia-pc img {
    height: 200px;
    width: 300px;
    
    margin-top: 160px;
    margin-right: 100px;
}

.baixo .gustavo-pc img {
    height: 200px;
    width: 300px;
    margin-left: 100px;
    margin-top: 160px;
}

.baixo .gustavo-pc img, .baixo .livia-pc img {
    border-radius: 25px;
    border:#023558 solid 3px;
}

.baixo .gustavo-pc img:hover, .baixo .livia-pc img:hover {
    transform: scale(1.05) translateY(-5px);
}

.historia {
    width: 850px;
    background-color: rgb(123, 182, 250);
    margin-top: 100px;
    margin-left: 0px;
    height: 315px;
    margin-bottom: 100px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 25px;
    border: #023558 solid 3px;
    justify-content: center;
}

.titulo {
    padding-top: 17px;
    font-family: Cinzel Decorative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.titulo img, .titulo-sobre img {
    width: 65px;
    transition: all 1s ease;
}

.titulo img:hover, .titulo-sobre img:hover {
    transform: scale(1.1);
    animation: girar 0.8s linear infinite;
}

.linha {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

.linha-horizontal {
    width: 846px;
    height: 1px;
    background-color: #000000;
    position: relative;
    top: 37%;
}

.servicos-container {
    width: 100%;
    min-width: 400px;
    background: url("/assets/images/loginpage.png");
    display: flex;
    justify-content: space-around;
}

.servicos {
    background-color: rgb(123, 182, 250);
    width: 850px;
    height: 100px;
    height: 500px;
    margin-left: 100px;
    margin-bottom: 100px;
    border-radius: 25px;
    border: #023558 solid 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.servicos h1 {
    margin-top: 20px;
    font-family: Cinzel Decorative;
    font-size: 35px;
    margin-bottom: 10px;
}

.servicos-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}

.servicos img {
    height: 100px;
    transition: 0.3s;
}

.servicos img:hover {
    transform: scale(1.05);
    height: 100px;
}

.tres-primeiros {
    flex-direction: column;
    display: flex;
    gap: 17px;
    padding-left: 50px;
}

.tres-posteriores {
    flex-direction: column;
    display: flex;
    gap: 17px;
    padding-right: 50px;
}

.img1, .img2, .img3 {
    display: flex;
    margin-top: 15px;
    gap: 10px;
    font-size: 20px;
}

.img4, .img5, .img6 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 19px;
}

.img1 p, .img2 p, .img3 p {
    margin-top: 8px;
}

.img4 p, .img5 p, .img6 p {
    margin-top: 60px;
}

.parceiros {
    width: 600px;
    height: 220px;
    background-color: rgb(123, 182, 250);
    margin-top: 150px;
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    border-radius: 25px;
    gap: 10px;
    font-family: Cinzel Decorative;
}


.parceiros>div:not(.parceiros-frase) {
    min-width: 220px;
    max-width: 220px;
    background-color: rgb(123, 182, 250);
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #023558;
    border-radius: 25px;
    text-align: center;
}

.parceiros>div:not(.parceiros-frase):hover {
    transform: scale(1.03);
    box-shadow: 0px 8px 20px rgba(0, 0 0, 0.3);
}

.parceiros>div p:not(.descricao){
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}


.descricao {
    padding-top: 10px;
    font-size: 15px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.parceiros-frase {
    min-width: 580px;
    max-width: 550px;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #023558;
    border-radius: 25px;
    gap: 30px;
    margin-right: 30px;
}


.parceiros img {
    width: 80px;
}

.parceiros img:hover {
    animation: girar 2s ease-in-out infinite;
}

.parceiros::-webkit-scrollbar {
    height: 5px;
    width: 2px;
}

.parceiros::-webkit-scrollbar-thumb {
    background: #023558;
    border-radius: 10px;

}

.parceiros::-webkit-scrollbar-thumb:hover {
    background: #035b8c;
}

footer {
    background-color: rgb(123, 182, 250);
    height: 50px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cinzel Decorative;
    font-weight: bold;
    border-top: #023558 solid 4px;
    border-bottom: #023558 solid 4px;
}
