* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(180deg, #9CCFD1 0%, #7BA4A6 33.65%, #5A7778 100%);;
    color: white;
    padding: 30px 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 200px;
    gap: 40px
}

.marca {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 150px;
}

.marca img {
    height: 100px;
}

.marca h1 {
    font-size: 55px;
    font-weight: bold;
    font-family: Cinzel Decorative;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.menu input {
    color: azure;
    width: 400px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: white 2px solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    height: 30px;
    align-items: center;
}

.menu input::placeholder {
    color: white;
    display: inline-block;
    transition: all 0.5s ease;
}


.menu a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    transition: background-color,  color 0.7s;
    background-color: #1C5052;
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10PX;
    transition: transform 0.4s ease;
}

.menu a:hover {
    background-color:  white;
    color:  #1C5052;
    transform: scale(1.1);
}

.fundo {
    width: 100%;
    min-height: 100vh; 
    background: linear-gradient(180deg, #1C5052 0.96%, #348E91 100%);
    margin: 0;
    padding: 0;
}

.home {
    width: 100px;
    height: 34px;
    margin-left: 550px;
    flex-shrink: 0;
    background-color: white;
    stroke-width: 1px;
    stroke: #000;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.50));
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.pesquisa{
    background-color: #1C5052;
    margin-left: 40px;
}

input::placeholder {
    color: rgb(255, 255, 255); 
}
input[type="text"]{
    width: 180px;
    height: 37px;
    color: white;
}
.centro {
  background: rgba(90, 119, 120, 1); 
  padding: 20px;
  border-radius: 18px;
  max-width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 50px;
  text-align: center;
  line-height: 1.6;
  font-size: 15px; 
  color: #FFF;
    text-align: center;
    font-family: "Days One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}