* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/assets/images/loginpage.png");
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;

}

header {
  background-color: rgb(123, 182, 250);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 50px;
  gap: 40px
}

.marca {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 150px;
}



.marca img {
  height: 100px;
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.marca h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: Cinzel Decorative;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 30px;
  align-items: center;
}

.menu a.login-link {
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 0;
}

.menu a.login-link img.login {
  width: 75px;
  height: auto;

}

.menu input {
  color: azure;
  width: 400px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: white 2px solid;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  height: 30px;
  align-items: center;
  outline: none;
}

.menu input::placeholder {
  color: white;
  display: inline-block;
  transition: all 0.5s ease;
}


.menu a.menu-link {
  width: 100px;
  height: 36px;
  color: white;
  text-decoration: none;
  font-size: 19px;
  transition: background-color, color 0.7s;
  background-color: #043c61;
  width: 100px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10PX;
  transition: transform 0.4s ease;
}


.menu a.menu-link:hover {
  background-color: white;
  color: #000000;
  transform: scale(1.1);
}

main {
  background: url("/assets/images/loginpage.png");
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.logoContainer{
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.imagem-site {
  height: 500px;
  animation: blinkEffect 2s linear forwards;
  margin-bottom: 300px;
}

@keyframes blinkEffect {
  0%, 10%, 20%, 30%, 40% {
    opacity: 0;
    scale: 0.9;
  }
  5%, 15%, 25%, 35%, 45% {
    opacity: 1;
    scale: 0.95;
  }
  50%, 100% {
    opacity: 1; 
    scale: 1;
  }
}

.principal-container {
  margin-top: 100px;
  height: 400px;
  width: 100%; 
  flex-direction: column;
}

.clientes {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Cinzel Decorative;
}

.titulo-clientes {
  margin-bottom: 100px;
  color: white;
}

.clientes-divs {
  display: flex;
  justify-content: center;
  gap: 300px;
}

.cliente1, .cliente2, .cliente3 {
  min-height: 200px;
  min-width: 200px;
  background-color: rgb(123, 182, 250);
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center ;
  border-radius: 10px;
  transition: transform 1s ease;
}

.cliente1 img, .cliente2 img, .cliente3 img {
  height: 160px;
}

.cliente1 img:hover, .cliente2 img:hover, .cliente3 img:hover {
  transform: scale(1.1);
}

.diferenciais {
  margin-top: 300px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.diferenciais h1 {
  font-family: Cinzel Decorative;
}

.titulo-diferenciais {
  margin-bottom: 100px;
  color: white;
}

.diferenciais-divs {
  display: flex;
  justify-content: center;
  gap: 300px;
}

.diferencial1, .diferencial2 {
  min-height: 200px;
  min-width: 200px;
  background-color: rgb(123, 182, 250);
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center ;
  border-radius: 10px;
  transition: transform 1s ease;
  flex-direction: column;
  font-size: 20px;
}

.diferencial1 img, .diferencial2 img {
  margin-bottom: 20px;
  height: 160px;
}

.diferencial1 img:hover, .diferencial2 img:hover {
  transform: scale(1.1);
}

footer {
  background-color: rgb(123, 182, 250);
  height: 50px;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cinzel Decorative;
  font-weight: bold;
  border-top: #023558 solid 4px;
  border-bottom: #023558 solid 4px;
  margin-top: 900px;
}